<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    

    <main>
        <% if (products.length > 0) { %>
            <h1>Your Cart Items: </h1>
            <ul class="cart__item-list">
                <% products.forEach(product => { %>
                    <li class="cart__item">
                        <h1><%= product.title %></h1>
                        <!-- The quantity is not part of the cart - but it is part of the related cart-item
                        Sequelize gives us a way to access it using the cartItem key -->
                        <h1>(<%= product.cartItem.quantity %>)</h1>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="productId" value="<%= product.id %>">
                            <button class="btn danger" type="submit">Delete</button>
                        </form>
                    </li>
                <% }); %>
            </ul>
            <hr>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <button type="submit" class="btn">Proceed to Checkout</button>
                </form>
            </div>
        <% } else { %>
            <h1>Shopping Cart - Empty!</h1>
        <% } %>


    </main>
    
<%- include('../includes/end.ejs') %>