<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/orders.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    

    <main>
        <% if(orders.length <= 0) {  %>
            <h1>Orders - No Orders as yet!</h1>
        <% } else { %>
            <% orders.forEach(order => {  %>
                <!-- Every order will have an ID -->
                
                <h1> - Order Number: <%= order._id %></h1>
                <!-- We can now loop through the products that we associated with the order in the controller -->
                <ul class="orders">
                    <% order.products.forEach(prod => { %>
                    <li class="orders__item">Item Name: <%= prod.productData.title %>
                        <ul class="orders__products">
                            <li class="orders__products-item">Quantity: (<%= prod.quantity %>)</li>
                            <li class="orders__products-item">Description: <%= prod.productData.description %></li>
                            <li class="orders__products-item">Item Price: <%= prod.productData.price %></li>
                        </ul>
                    </li>
                    <% }) %>
                </ul>
                <hr>
            <% }); %>
        <% } %>
    </main>
    
<%- include('../includes/end.ejs') %>